h1{
    color: aquamarine;
}

h2 {
    color: brown;
}


Body{
scrollbar-3dlight-color:#dfffff;
scrollbar-arrow-color:#dfffff;
scrollbar-darkshadow-color:#000000;
scrollbar-face-color:#80ffff;
scrollbar-highlight-color:#000000;
scrollbar-shadow-color:#dfffff;
scrollbar-track-color:#80ffff;
}-->
